# Unit 22. 리스트와 튜플 응용하기

### 리스트 조작

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [3]:
import random
b = []
for i in range(3):
    c = []
    for k in range(6):
        element = random.randint(1, 6)
        c.append(element)
    b.append(c)
print(b)

[[4, 5, 6, 3, 4, 5], [4, 5, 1, 4, 1, 3], [2, 2, 4, 3, 4, 6]]

In [4]:
def print_matrix(mat):
    for row in mat:
        for value in row:
            print(value, end='')
        print()

In [5]:
print_matrix(b)

456345
451413
224346

In [6]:
# 리스트 엘리먼트 삭제
a.pop()

[3, 4]

In [7]:
a

[10, 20, 30, 500]

In [8]:
a.index(30)

2

In [9]:
a.append(20)
a

[10, 20, 30, 500, 20]

In [10]:
a.count(20)

2

In [11]:
a.reverse()

In [12]:
a

[20, 500, 30, 20, 10]

In [13]:
a.sort()
a

[10, 20, 20, 30, 500]

In [14]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [15]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [16]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [17]:
b

[10, 20, 30, 15, 20, 40]

In [18]:
a = [10, 20, 30]
a[3] = 40

IndexError: list assignment index out of range

In [ ]:
a[3:] = [40]
a

In [ ]:
a[4:] = (50,)
a

In [ ]:
a = [0, 0, 0, 0, 0]
b = a

In [ ]:
b

In [ ]:
b[2] = 2
b

In [ ]:
a

In [ ]:
a is b

In [ ]:
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
a

In [ ]:
a is b

### 반복문으로 출력하기

In [ ]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

### 유용한 함수

In [ ]:
# 가장 작은/큰 수
a = [10, 20 ,30 ,40, 5]
small = a[0]
large = a[0]
for i in range(1, len(a)):
    if a[i] < small:
        small = a[i]
    if a[i] > large:
        large = a[i]
print(small, large)

In [ ]:
a.sort()
print(a[0], a[-1])

In [19]:
a = [38, 21, 53, 62, 19]
min(a)

19

In [20]:
print(max(a), sum(a))

62 193

### 리스트 표현식 List comprehension

In [22]:
# 1에서 10까지 제곱수를 리스트로 만들기

In [23]:
sqr = []
for i in range(1, 11):
    sqr.append(i*i)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
sqr_new = [i*i for i in range(1, 11)]
sqr_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# 홀수
sq_odd = [i*i for i in range(1, 11) if i%2 == 1]
sq_odd

[1, 9, 25, 49, 81]

In [30]:
a = [i*k for i in range(2, 10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [31]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [32]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [34]:
x = list(map(int, input('numbers: ').split()))
x

numbers: 10 20 30 40 50

[10, 20, 30, 40, 50]

In [39]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:30:20
hour=11, minute=30, second=20

In [40]:
year, month, day = map(int, input('yy-mm-ss> ').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-ss> 20-10-30
year=20, month=10, day=30

### 튜플

In [44]:
a = (38, 21, 53, 62, 19, 53)
a[3]

62

In [45]:
a.count(21)

1

In [46]:
print(min(a), max(a), sum(a))

19 62 246